.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #5fe475 0%, #5fe475 50%, #33ccff 50%, #33ccff 100%);


    .container {
        height: 80%;
        width: 80%;
        max-width: 70%;
        position: relative;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("../../pokedex.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 2em;
    }

    .searchContainer {
        position: absolute;
        z-index: 999;
        top: 15%;
        right: 1%;
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1em;

        .searchBar {
            height: 30px;
            width: 15vw;
            border: none;
            border-bottom: 5px solid #681111;
            border-radius: 6px;
            font-family: inherit !important;
            margin-right: 1em;
            font-size: 1vw;
        }

        button {
            width: fit-content;
            border: none;
            padding: 10px;
            border-radius: 8px;
            border-bottom: 5px solid #681111;
            font-family: inherit !important;
            font-size: 1vw;
        }

        button:hover {
            background-color: #c0c6c9;
        }

        button:active {
            // box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }

    .imageContainer {
        position: absolute;
        top: 35%;
        left: 10%;
        display: flex;
        flex-direction: row;

        img {
            height: 20vh;
        }
    }

    .table {
        position: absolute;
        top: 32%;
        right: 13%;
        color: white;
        opacity: 0.7;
        transition: all 3s ease-in-out;
        // font-variant: small-caps;

        ul {
            display: grid;
            grid-template-rows: auto auto;
            transition: all 3s ease-in-out;
        }

        li {
            font-size: 10px;
            font-size: 1vw;
            padding-bottom: 12px;
        }
    }

    .titleList {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: -10%;
        left: 35%;
        color: #4a5357;

        ul {
            li {
                font-size: 1vw;
            }
        }
    }

    ul {
        list-style: none;
        text-decoration: none;
    }

    .loading {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        top: 76%;
        left: 60%;
        width: 330px;
        height: 100px;

        p {
            margin-bottom: 10px;
        }

        progress {
            height: 120px;
            width: 180px;
            color: #5fe475;
        }
    }

    .logo {
        position: absolute;
        top: 13%;
        left: 17%;
        width: 15vw;
        height: 8vh;
        background-size: 100% 100%;
        background-image: url("../../pokemon_logo.png");
    }

}

@media (max-width:960px) {
    .main {
        .container {
            font-size: smaller;
        }
    }

}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .main {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;

        .container {
            max-height: 80vh;
        }
    }
}